@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gbp-theme-select {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 1;
}
.gbp-theme-select select {
  color: black;
}

.wp-block-storypage-hero {
  position: relative;
  margin-bottom: 20px;
  background-color: #2db8ca;
  background-size: cover;
  background-position: center center;
}
.wp-block-storypage-hero .bg-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}
.wp-block-storypage-hero section {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  max-width: 960px;
}
@media (min-width: 768px) {
  .wp-block-storypage-hero section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.wp-block-storypage-hero section:after {
  clear: both;
  display: block;
  content: " ";
}
.wp-block-storypage-hero h2, .wp-block-storypage-hero p, .wp-block-storypage-hero footer .btn, .wp-block-storypage-hero footer button {
  font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
  color: white;
}
.wp-block-storypage-hero header h2 {
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.wp-block-storypage-hero header p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.wp-block-storypage-hero footer {
  margin-bottom: 20px;
}
.wp-block-storypage-hero footer button, .wp-block-storypage-hero footer .btn {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 10px 20px;
  border: 1px solid white;
  text-decoration: none;
}
.wp-block-storypage-hero figure {
  display: block;
  clear: both;
  width: 250px;
  min-height: 500px;
  margin: 0 auto;
}
.wp-block-storypage-hero figure img {
  border: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .wp-block-storypage-hero .image-left figure {
    clear: none;
    margin-left: 0;
  }
  .wp-block-storypage-hero .image-left header, .wp-block-storypage-hero .image-left footer {
    float: right;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-hero .image-right figure {
    clear: none;
    margin-right: 0;
  }
  .wp-block-storypage-hero .image-right header, .wp-block-storypage-hero .image-right footer {
    float: left;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-hero .image-left header, .wp-block-storypage-hero .image-right header {
    margin-top: 120px;
  }
}

.wp-block-storypage-hero-nested {
  position: relative;
  margin-bottom: 20px;
  background-color: #2db8ca;
  background-size: cover;
  background-position: center center;
}
.wp-block-storypage-hero-nested .bg-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}
.wp-block-storypage-hero-nested section {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  max-width: 960px;
}
@media (min-width: 768px) {
  .wp-block-storypage-hero-nested section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.wp-block-storypage-hero-nested section:after {
  clear: both;
  display: block;
  content: " ";
}
.wp-block-storypage-hero-nested main {
  font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
  margin-bottom: 20px;
}
.wp-block-storypage-hero-nested main h1, .wp-block-storypage-hero-nested main h2, .wp-block-storypage-hero-nested main h3, .wp-block-storypage-hero-nested main h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 56px;
  color: white;
}
.wp-block-storypage-hero-nested main p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}
.wp-block-storypage-hero-nested main .wp-block-button__link {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 0 !important;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.wp-block-storypage-hero-nested .image-feature {
  display: block;
  clear: both;
  width: 250px;
  min-height: 500px;
  margin: 0 auto;
}
.wp-block-storypage-hero-nested .image-feature img {
  border: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .wp-block-storypage-hero-nested .image-left .image-feature {
    clear: none;
    margin-left: 0;
  }
  .wp-block-storypage-hero-nested .image-left main {
    float: right;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-hero-nested .image-right .image-feature {
    clear: none;
    margin-right: 0;
  }
  .wp-block-storypage-hero-nested .image-right main {
    float: left;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-hero-nested .image-left main, .wp-block-storypage-hero-nested .image-right main {
    margin-top: 120px;
  }
}

.wp-block-storypage-columns {
  font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
  margin-bottom: 20px;
}
.wp-block-storypage-columns .columns-section-header {
  width: 100%;
  text-align: center;
}
.wp-block-storypage-columns .columns-section-header h2 {
  font-weight: normal;
}
.wp-block-storypage-columns .columns {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .wp-block-storypage-columns .columns {
    flex-wrap: nowrap;
  }
}
@media (min-width: 480px) {
  .wp-block-storypage-columns .columns.has-4-columns .column, .wp-block-storypage-columns .columns.has-2-columns .column {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-columns .columns.has-4-columns .column, .wp-block-storypage-columns .columns.has-2-columns .column {
    width: 100%;
  }
}
.wp-block-storypage-columns .column {
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.wp-block-storypage-columns .column__image img {
  max-width: 100%;
  margin: 5px 0;
}
.wp-block-storypage-columns .column__description {
  line-height: 1.6;
  color: #666666;
}
.wp-block-storypage-columns .column__cta {
  margin: 15px 0 5px;
}
.wp-block-storypage-columns .column__cta .btn {
  font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000000;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  color: #000;
}
