@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gbp-theme-select {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 1;
}
.gbp-theme-select select {
  color: black;
  font-size: 1em;
  line-height: 1;
  height: 2em;
  max-width: 200px;
}

.wp-block-cloudblocks-hero-section {
  position: relative;
  margin-bottom: 20px;
  background-color: #2db8ca;
  background-size: cover;
  background-position: center center;
}
.wp-block-cloudblocks-hero-section .bg-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
}
.wp-block-cloudblocks-hero-section section {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  max-width: 960px;
}
@media (min-width: 768px) {
  .wp-block-cloudblocks-hero-section section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.wp-block-cloudblocks-hero-section section:after {
  clear: both;
  display: block;
  content: " ";
}
.wp-block-cloudblocks-hero-section main {
  font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
  margin-bottom: 20px;
}
.wp-block-cloudblocks-hero-section main h1, .wp-block-cloudblocks-hero-section main h2, .wp-block-cloudblocks-hero-section main h3, .wp-block-cloudblocks-hero-section main h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 56px;
  color: white;
}
.wp-block-cloudblocks-hero-section main p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}
.wp-block-cloudblocks-hero-section main .wp-block-button__link {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 0 !important;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.wp-block-cloudblocks-hero-section .image-feature {
  display: block;
  clear: both;
  width: 250px;
  min-height: 500px;
  margin: 0 auto;
}
.wp-block-cloudblocks-hero-section .image-feature img {
  border: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .wp-block-cloudblocks-hero-section .image-left .image-feature {
    clear: none;
    margin-left: 0;
  }
  .wp-block-cloudblocks-hero-section .image-left main {
    float: right;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-cloudblocks-hero-section .image-right .image-feature {
    clear: none;
    margin-right: 0;
  }
  .wp-block-cloudblocks-hero-section .image-right main {
    float: left;
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .wp-block-cloudblocks-hero-section .image-left main, .wp-block-cloudblocks-hero-section .image-right main {
    margin-top: 120px;
  }
}

.panel_body-title-hide {
  margin-top: -1em;
  margin-bottom: 1em;
}
.panel_body-title-hide h2 {
  display: none !important;
}
.panel_body-title-hide .components-panel__body {
  border-top: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-storypage-columns {
  font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
  margin-bottom: 20px;
}
.wp-block-storypage-columns .columns-section-header {
  width: 100%;
  text-align: center;
}
.wp-block-storypage-columns .columns-section-header h2 {
  font-weight: normal;
}
.wp-block-storypage-columns .columns {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .wp-block-storypage-columns .columns {
    flex-wrap: nowrap;
  }
}
@media (min-width: 480px) {
  .wp-block-storypage-columns .columns.has-4-columns .column, .wp-block-storypage-columns .columns.has-2-columns .column {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .wp-block-storypage-columns .columns.has-4-columns .column, .wp-block-storypage-columns .columns.has-2-columns .column {
    width: 100%;
  }
}
.wp-block-storypage-columns .column {
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.wp-block-storypage-columns .column__image img {
  max-width: 100%;
  margin: 5px 0;
}
.wp-block-storypage-columns .column__description {
  line-height: 1.6;
  color: #666666;
}
.wp-block-storypage-columns .column__cta {
  margin: 15px 0 5px;
}
.wp-block-storypage-columns .column__cta .btn {
  font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000000;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  color: #000;
}
