---
layout: default
title: Index
---

<div class="gbp-theme-select">
  <select name="theme">
    <option value="" selected>-- Select a theme --</option>
    <option value="drupal/style">Drupal Bartik</option>
    <option value="wordpress/style">WordPress Twentyseventeen</option>
  </select>
</div>

<div id="page">
<!-- Include blocks here -->

{% include_relative blocks/hero-nested/index.html %}

{% include_relative blocks/hero/index.html %}

{% include_relative blocks/content-in-columns/index.html %}
{% include_relative blocks/content-in-columns/no-images.html %}
{% include_relative blocks/content-in-columns/no-cta.html %}
</div>

<script>
    document.addEventListener('DOMContentLoaded',function() {
        document.querySelector('select[name="theme"]').onchange=changeTheme;
    },false);

    function changeTheme(event) {
      // remove all
      const themes = document.querySelectorAll('link[id^="theme-"]');
      if (themes) {
        themes.forEach(element => {
          element.remove()
        });
      }

      if (event.target.value) {
        const styles = document.createElement('link');
        styles.id='theme-' + event.target.value;
        styles.rel = 'stylesheet';
        styles.type = 'text/css';
        styles.media = 'screen';
        styles.href = 'css/' + event.target.value + '.css';
        document.getElementsByTagName('head')[0].appendChild(styles);
      }
    }
  </script>
