---
layout: default
title: Index
---

<div class="gbp-theme-select">
  <select name="theme">
    <option value="" selected>-- Select a theme --</option>
    <option value="drupal/style">Drupal Bartik</option>
    <option value="wordpress/style">WordPress Twentyseventeen</option>
  </select>
</div>

<div id="page">
  <!-- Include blocks here -->
  {% include_relative blocks/hero-section/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/content-in-columns/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/pullquote/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/gallery/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/heading/index.html %}
  {% include_relative blocks/core/paragraph/index.html %}

  {% include_relative blocks/core/separator/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/content-in-columns/index.html %}
  {% include_relative blocks/core/separator/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/heading/index.html %}
  {% include_relative blocks/core/paragraph/background.html %}
  {% include_relative blocks/core/button/index.html %}
  {% include_relative blocks/core/separator/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/image/align-left.html %}
  {% include_relative blocks/core/image/align-right.html %}
  {% include_relative blocks/core/paragraph/cap.html %}
  {% include_relative blocks/core/separator/index.html %}
  {% include_relative blocks/core/paragraph/index.html %}
  {% include_relative blocks/core/paragraph/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/cover-image/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/heading/index.html %}
  {% include_relative blocks/core/table/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/gallery/align-left.html %}
  {% include_relative blocks/core/gallery/align-right.html %}
  {% include_relative blocks/core/paragraph/index.html %}
  {% include_relative blocks/core/separator/index.html %}
  {% include_relative blocks/core/paragraph/index.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/content-in-columns/no-cta.html %}
  {% include_relative blocks/core/spacer/index.html %}

  {% include_relative blocks/core/image/full-width.html %}
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function() {
        document.querySelector('select[name="theme"]').onchange=changeTheme;
    },false);

    function changeTheme(event) {
      // remove all
      const themes = document.querySelectorAll('link[id^="theme-"]');
      if (themes) {
        themes.forEach(element => {
          element.remove()
        });
      }

      if (event.target.value) {
        const styles = document.createElement('link');
        styles.id='theme-' + event.target.value;
        styles.rel = 'stylesheet';
        styles.type = 'text/css';
        styles.media = 'screen';
        styles.href = 'css/' + event.target.value + '.css';
        document.getElementsByTagName('head')[0].appendChild(styles);
      }
    }
  </script>
