
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gbp-theme-select {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 1;

  select {
    color: black;
  }
}
