@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 480px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

.wp-block-storypage-columns {
  font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
  margin-bottom: 20px;
  box-sizing: border-box;

  .columns-section-header {
    width: 100%;
    text-align: center;

    h2 {
      font-weight: normal;
    }
  }

  .columns {
    @include desktop() {
      display: flex;
    }
  }

  .column {
    @include desktop() {
      flex: 1;
    }
    text-align: center;
    padding: 10px;

    &__image img {
      max-width: 100%;
      margin: 5px 0;
    }

    &__description {
      line-height: 1.6;
      color: #666666;
    }

    &__cta {
      margin: 15px 0 5px;

      .btn {
        font-family: 'Roboto Condensed', Impact, Charcoal, sans-serif !important;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #000000;
        text-decoration: none;
        background: transparent;
        cursor: pointer;
        color: #000;
      }
    }
  }
}
